@import "reset";
@import "compass";
@import "breakpoint";
@import 'mixins';

$blue: #34495e;
$dark-blue:#2c3e50;
$white: #ecf0f1;
$gray: #bdc3c7;
$yellow:#f1c40f;
$black: #7f8c8d;

* {
  box-sizing: border-box;
}

body {
  background: $dark-blue;
  font-family: 'Lato', sans-serif;
  padding-top:5px;
}

h2 {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 2em;
  background: $blue;
  padding: 20px 0 40px;
  margin: 0;
  color: $white;
  text-align: center;
}

h3 {
  color: $white;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2em;
  padding: 10px 30px;
}

.settings-trigger {
  color: white;
  @include fs(28px);
  position: absolute;
  top:10px;
  right: 10px;
  opacity: 0.7;
  @include trans;
  z-index: 1000;
  &:hover {
    opacity: 1;
  }
}

.settings {
  overflow: hidden;
  max-height: 0;
  text-align: center;
  padding: 0;
  top:0;
  background: $dark-blue;
  width: 100%;
  z-index: 100;
  position: absolute;
  @include trans;
  @include box-shadow(1px 1px 5px rgba(black, 0.3));
  li {
    border-top: solid 2px $blue;
    span {
      display: block;
      width: 100%;
      border: none;
      color: white;
      font-family: 'Lato', sans-serif;
      font-weight: 900;
      letter-spacing: 1px;
      text-transform: uppercase;
      padding:15px;
      margin: 2px;
      outline: none;
      @include fs(20px);
      @include trans;
    }
  }
  &.open {
    max-height: 400px;
  }
}

.todo-wrapper {
  background: $dark-blue;
  width: 100%;
}


/* --$HEADER-- */

.emphasis {
  font-size: 2em;
  font-weight: 300;
  background: $white;
  border-radius:100px;
  color:$dark-blue;
  display: block;
  height: 90px;
  min-width: 90px;
  width: 90px;
  line-height:90px;
  margin: 10px auto 30px;
  bottom: -9px;
  position: relative;
  transition: all 0.3s ease;
  &:hover {
    bottom:0;
  }
  @include breakpoint(850px) {
    width: auto;
    display: inline-block;
    margin: 0 10px;
  }  
}


/* --$LISTS-- */

.list {
  width: 100%;
  @include breakpoint(850px) {
    width: 50%;
    border-left: solid 2px $dark-blue;
    border-right: solid 2px $dark-blue;
  }
  @include breakpoint(1500px) {
    width: 33.33333%;
    border-left: solid 2px $dark-blue;
    border-right: solid 2px $dark-blue;
  }
}

.list:nth-child(odd)  {
  border-right: solid 2px $dark-blue;
}

.list:nth-child(even)  {
  border-left: solid 2px $dark-blue;
  border-right: solid 2px $dark-blue;
}

.list ul {
  padding: 0px;
  margin: 0px;
  background: #ecf0f1;
  overflow: hidden;
  @include trans(0.3s);
  max-height: 500px;
  &.close {
    max-height: 0;
  }
}

.item {
  position: relative;
  font-size: 1.6em;
  background: $white;
  list-style-type: none;
  margin-left: 0px;
  font-weight: 300;
  padding-left: 0px;
  &:nth-child(odd) {
    background: $gray;
  }  
  label {
    cursor: pointer;
    padding: 20px 20px 20px 60px;
    display: block;
    position: relative;
    .slash {
      float: right;
      width: 350px;
      left: 60px;
      position: absolute;
      top:50%;
    }
    .slash:after {
      content:'';
      height: 5px;     
      background: $blue;
      width: 0%;
      float: right;
      display: block;
      transition: all 0.3s ease;
    }
    &:before {
      position: absolute;
      left: 20px;
      content: '\f00c';
      font-family:'FontAwesome';
      color: $black;
      opacity: 0.2;
      margin-right: 30px;
      transition: all 0.3s ease;
    }
  }
}

input[type="checkbox"] {
    display:none;
  &:checked + label:before {
    opacity: 0.9;
    color: $yellow;
    text-shadow: 0px 1px 0px $dark-blue;    
  }
}


.item label.done-true {
  color: $gray;
  position:relative;
  .slash:after {
    width: 100%;
    background: $gray;
  }
  
}
li:nth-child(odd) .done-true {
  color: $white;
  .slash:after {
    background: $white;
  }
}

.info {
  position: absolute;
  right: 10px;
  top:0;
  padding:20px;
  color: $black;
  opacity: 0.3;
  @include trans;
  &:hover {
    opacity: 0.9;
  }
}

.add-input {
  width: 60%;
  height: 20px;
  float: left;
  border: none;
  padding: 40px 0;
  font-size: 2em;
  text-indent: 55px;
}

.add-btn {
  position: relative;
  background: $dark-blue;
  display: block;
  width: 100%;
  border: none;
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  padding:10px;
  outline: none;
  @include fs(20px);
  @include trans;
  &:before {
    position: absolute;
    left: 10px;
    content: '\f055';
    float: left;
    font-family:'FontAwesome';
    display: inline-block;
    opacity: 0.5;
    color: $white;
    @include trans;
  }
  &:hover {
    background: $blue;
    &:before {
      opacity: 0.8;
    }
  }
  &.active {
    background: $blue;
    &:before {
      opacity: 1;
      color: #E74C3C;
      @include transform(rotate(-135deg));
    }
  }
}

.clear-btn {
  width: 100%;
  border: none;
  height: 100px;
  background: #16a085;
  font-size: 2em;
  font-family: 'Lato', sans-serif;
  color: $white;
  margin-top: 50px;
  @include trans;
  cursor: pointer;
  &:hover {
    background: #16a085 - 30;
  }
}

progress {
  height: 5px;
  width: 100%;
  background: $yellow;
  position: fixed;
  top:0;
  transition: all 0.3s ease;
  overflow: hidden;
  left: 0;
}

progress::-webkit-progress-value {
  background: $yellow;
  box-shadow: 5px 0 20px 10px $yellow;
  transition: all 0.3s ease;
  
}

progress::-webkit-progress-bar {
  background-color: $dark-blue;
}

.masonry,
.masonry li { /* apply before masonry add class */
    
    -webkit-transition-duration: .7s;
    transition-duration: .7s;
    
    -webkit-transition-property: all;
    transition-property: all;
}

.masonry .masonry-enter { /* limit animated properties for entering elements */
    -webkit-transition-property: -webkit-transform, opacity;
    transition-property: transform, opacity;
}

.masonry-enter,
.masonry-leave.masonry-leave-active {
    opacity: 0;
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
}

.masonry-leave,
.masonry-enter.masonry-enter-active {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}